@import "~bulma/sass/utilities/initial-variables"
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300;400;500;600&display=swap")

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #ffd803
$kaldi-red-invert: #bae8e8


$primary: #272343
$primary-invert: #bae8e8
$body-color: #08080B 
$lightgreen: #272343
$background: #fafafa

html 
  background-color: #fafafa !important
  font-family: 'Roboto', sans-serif

body, button, input, textarea
  font-family: 'Roboto', sans-serif !important


// bookshelf

.book-shelf
  text-align: center
  padding-bottom: 75px


.book-shelf .box
  margin: 1.1rem
  background-color: #fafafa

.book
  max-height: 250px

  
 

.navbar .navbar-menu
 background-color:  #fef6e4
  font-size: 1.1em

.navbar
  background-color:  #fef6e4 !important
 
.content 
  font-size: 1.1em

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.is-centered
  justify-content: center

.bio-pic img
  justify-content: center
  max-height: 400px

.section
  padding: 3rem 1rem 3rem 1rem !important

.section-light
  background-color: #f3d2c1

.section-nav
  padding: 0.1rem
  background-color: #fef6e4

    
.section--gradient
  background-color: #fef6e4
  color: #abd1c6

.home-intro p
  font-size: 1.4rem
  

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 16px 60px 16px
    font-size: 18px
    font-size: 1.1rem
    line-height: 1.25
    background-color: #f9bc60
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #001e1d
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #f9bc60
    box-shadow: inset 0 0 0 2px #f9bc60
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $primary
a.navbar-item:hover, a.navbar-item:focus

  color: #001e1d !important

.notification
  background-color: #fffffe
  padding: 2em !important

// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor

footer.footer
  padding: 3rem 0rem 0rem
  color: #08080B
  background-color: #fef6e4


.navbar-brand
  background-color: #fef6e4


.footer .menu-list a
  color: #08080B

footer .columns
  margin-left: -.01rem
  margin-right: -.01rem

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $lightgreen !important

$menu-item-active-color: $kaldi-red-invert
$menu-list-border-left: 1px solid $kaldi-red-invert
$menu-label-color: $white-ter


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  max-width: 75px
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #272343
  color: #fffffe
.blog-list-item.is-featured a
  color: #fffffe  
.blog-list-item header
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  padding-bottom: 20px

.post-meta .title
  font-family: 'Roboto Slab', serif
  padding-bottom: 1em

// bio and avatar

.bio-container
  display: flex
  align-items: center
  position: relative
  left: -10px
  margin-bottom: 75px

.bio-avatar
  display: block
  position: relative
  height: 65px
  width: 65px
  border-radius: 50%
  background: rgba(0,0,0,.75)
  margin-right: 16px
  margin: 10px 26px 10px 10px

.bio-avatar-inner
  height: 65px
  width: 65px
  border-radius: 50%
  background: rgba(0,0,0,.25)
  margin-right: 16px
  overflow: hidden

.bio-avatar-inner img
  max-width: 100%

.bio-text
  margin-bottom: 0px !important
  line-height: 1.45
  display: block



@import "~bulma"


// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 75%

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 100%
    margin: 0 0 1em
